@mixin title-mb {
    font-family: map-get($fonts, basic );
    text-align: center;
    font-weight: map-get($fonts-weight, medium );
};

@mixin desc-mb {
    font-family: map-get($fonts, basic );
    font-weight: map-get($fonts-weight, regular );
    color: map-get($colors, gray-col );
    text-align: center;
    font-size: map-get($font-size, small );
    line-height: 1.6;
};