$colors :(
    primary: hsl(231, 69%, 60%),
    red-col: hsl(0, 94%, 66%),
    gray-col: hsl(229, 8%, 60%),
    blue-col: hsl(229, 31%, 21%),
    blue-transparent: hsla(228, 29%, 21%, 0.961),
    white-col: hsla(0, 0%, 100%, 0.659)
);