@import '../styles/_fonts.scss';
@import '../styles/_utilities.scss';
@import '../styles/_colors.scss';
@import '../styles/_mixin.scss';

.extensions-header {
    margin: 100px map-get($margin, margin-inline-mobile) 40px;

    .extensions-title {
        @include title-mb
    }
    .extensions-desc {
        @include desc-mb;
        margin-inline: map-get($margin, margin-inline-mobile) 40px;
    }
}

.extensions-container {
    margin-inline: map-get($margin, margin-inline-mobile );
}

@media screen and (min-width: 800px) {
    .extensions-header {
        .extensions-desc {
            @include desc-dt
        }
    }

    .extensions-container {
        max-width: 60%;
        max-height: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 auto;
    }
    
    .extensions-container > *:nth-child(2) {
        margin-top: 100px;
        margin-left: 20px;
    }
    .extensions-container > *:nth-child(3) {
        margin-top: 200px;
        margin-left: 20px;
      }

}