@import '../styles/Fonts.scss';
@import '../styles/Utilities.scss';
@import '../styles/Colors.scss';
@import '../styles/_mixin.scss';

.extensions-header {
    margin: 100px map-get($margin, margin-inline-mobile) 40px;

    .extensions-title {
        @include title-mb
    }
    .extensions-desc {
        @include desc-mb;
    }
}

@media screen and (min-width: 800px) {
    .extensions-header {
        .extensions-desc {
            @include desc-dt
        }
    }

    .extensions-container {
        width: 60%;
        max-height: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 auto;
    }
    
    .extensions-container > *:nth-child(2) {
        margin-top: 100px;
    }
    .extensions-container > *:nth-child(3) {
        margin-top: 200px;
      }

}