@import '../styles/_fonts.scss';
@import '../styles/_utilities.scss';
@import '../styles/_colors.scss';
@import '../styles/_mixin.scss';

.features-container {
    font-family: map-get($fonts, basic );
    padding-top: 100px;
    margin: 0 map-get($margin, margin-inline-mobile );

    
    .features-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        &__title {
            @include title-mb;
        }
    
        &__article {
            @include desc-mb;
            margin-top: 0px;
        }
    }

    .features-nav {
        list-style: none;
        padding: 0px;
        text-align: center;

        &:active {
            color: map-get($colors, blue-transparent )
        }

        &__element {
            position: relative;
            margin: 0px;
            padding-block: 15px;
            border-bottom: 1.2px solid map-get($colors, gray-col );
            border-inline: none;
            color: map-get($colors, gray-col );
            cursor: pointer;

            &:first-child{
                border-top: 1px solid map-get($colors, gray-col );
            }

            &:hover {
                color: map-get($colors, red-col);
            }

            &.active {
                color: map-get($colors, blue-transparent);
                &::after {
                    content: '';
                    position: absolute;
                    height: 5px;
                    background-color: red;
                    width: 50%;
                    bottom: 1px;
                    z-index: 80;
                    margin: 0 auto;
                    padding: 0px;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    
}
.features-tab {
    .tab-pic {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 40px;
        min-height: 400px;
      
        &__image {
          z-index: 5;
          height: auto;
          width: 80%;
          margin: auto;
        }

        &__graphic {
            position: absolute;
            height: calc(60vw - 40px);
            max-height: 300px;
            width: calc(100% - 10vw);
            background-color: map-get($colors, primary );
            top: 16vh;
            right: 25vw;
            z-index: -1;
            border-top-right-radius: 180px;
            border-bottom-right-radius: 180px;
        }
    }

    .tab-content {
        text-align: center;
        margin: map-get($margin, margin-inline-mobile );
        font-family: map-get($fonts, basic );
        padding-top: 25px;

        &__title {
            @include title-mb
        }

        p{
            @include desc-mb
        }
    }
}

@media screen and (min-width: 800px) {

    .features-container {
        margin: 0 auto;
        max-width: 1440px;
        .features-content {
            &__article {
                @include desc-dt;
                letter-spacing: 0px;
                margin-bottom: 40px;
            }
        }

        .features-nav {
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: center;

            &__element {
                padding-inline: 50px;
                padding-bottom: 30px;

                &:first-child{
                border-top:none;
                }

                &.active {
                    &::after {                    
                        width: 100%;
                    }
                }
            }
        }
    }

    .features-tab {
        margin: 0 auto;
        max-width: 1440px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .tab-pic {
            grid-area: 1 / 1 / 2 / 2;
            max-width: 720px;

            &__image {
                width: 100%;
                margin-inline: map-get($margin, margin-inline-mobile );
                padding-left: map-get($padding, padding-inline-desktop );
            }

            &__graphic {
                top: 12vh;
                right: 8vw;
                width: calc(100% - 8vw);

            }
        }

        .tab-content {
            grid-area: 1 / 2 / 2 / 3;
            padding: 15% map-get($padding, padding-inline-desktop) 0 60px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: start;
            margin-top: 0px;

            &__title {
                text-align: start;
                margin-top: 0px;
            }

            .tab-content__content {
                margin-top: 0;
                text-align: start;
            }
        }
    }
    
}