@import '../styles/_fonts.scss';
@import '../styles/_utilities.scss';
@import '../styles/_colors.scss';
@import '../styles/_mixin.scss';


.footer {
    background-color: map-get($colors, blue-transparent );
    &-title {
        display: flex;
        justify-content: center;
        padding: 20px;
        g {
            path {
                fill: map-get($colors, white-bg );
            }
        }
    }

    &-nav {
        font-family: map-get($fonts, basic );
        font-size: map-get($font-size, small );
        color: map-get($colors, white-col );
        margin: 0 auto;
        text-align: center;
        list-style: none;
        padding: 0 0 20px;

        &__element {
            padding-block: 15px;
        }
    }

    &-socialmedia{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        &__item{
            padding-inline: 15px;
        }
    }
}

@media screen and (min-width: 800px) {
    .footer {
        padding-inline: map-get($padding, padding-inline-desktop );
        display: flex;
        align-items: center;

        &-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 300px;
            min-width: 200px;
            padding-bottom: 0;
            margin-left: 30px;
            &__element {
                // padding: 0 40px 0;
            }
        }

        &-socialmedia {
            padding-bottom: 0;
            margin-left: 20px;
        }
    }
}