@import '../styles/_fonts.scss';
@import '../styles/_utilities.scss';
@import '../styles/_colors.scss';
@import '../styles/_mixin.scss';


.main-container {
    text-align: center;
    font-family: map-get($fonts, basic );
    font-weight: 400;
    margin: 0 auto;
    
    .main-pic {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 1100px;
      
        &__image {
          z-index: 5;
          height: auto;
          width: 96%;
        }

        &__graphic {
            position: absolute;
            height: 75%;
            width: calc(100% - 25vw);
            background-color: map-get($colors, primary );
            top: 60px;
            left: 25vw;
            z-index: -1;
            border-top-left-radius: 90px;
            border-bottom-left-radius: 90px;
        }
      }

    .main-content {
        margin: map-get($margin, margin-inline-mobile );

        h2 {
            @include title-mb;
            padding-top: 20px
        }

        p {
            @include desc-mb;
            padding-inline: 10px;
        }

        .main-buttons {
            padding-top: 15px;
        }
    }
}

@media screen and (min-width: 800px) {

    .main-container {
        margin: 0 auto;
        max-width: 1440px;
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .main-pic {
            grid-area: 1 / 2 / 2 / 3;
            width: 100%;
            right: 0px;

            &__image {
                position: relative;
                top: 45px;
                right: 50px;
                width: 90%;
            }

            &__graphic {
                position: absolute;
                height: calc(30vw - 60px);
                max-height: 400px;
                width: calc(100% - 10vw);
                background-color: map-get($colors, primary );
                top: 165px;
                left: 10vw;
                z-index: -1;
                border-top-left-radius: 180px;
                border-bottom-left-radius: 180px;
            }
        }
        
        .main-content {
            text-align: start;
            grid-area: 1 / 1 / 2 / 2;
            width: 50%;
            padding-left: map-get($padding, padding-inline-desktop );
            padding-top: 30px;

            h2 {
                text-align: start;
                font-size: map-get($font-size, title-lg);
            }

            p {
                text-align: start;
                padding-left: 0px;
            }
        }

        .main-buttons {

            .main-buttons__chrome {
                margin-left: 0;
            }
        }

        // .pic-graphic {
        //     position: absolute;
        //     height: 40%;
        //     width: 100%;
        //     background-color: map-get($colors, primary );
        //     top: 40%;
        //     left: 60%;
        //     z-index: -1;
        //     border-top-left-radius: 180px;
        //     border-bottom-left-radius: 180px;
        // }
    }
}