/*
    MOBILE
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  margin: 0 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-weight: 400;
  letter-spacing: 3px;
}
header .navbar {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  margin: auto;
  padding: 0px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: 1.5s;
  transform: translateY(-100vh);
  background-color: hsla(228, 29%, 21%, 0.961);
  color: hsla(0, 0%, 100%, 0.659);
}
header .navbar .navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  margin-inline: 30px;
}
header .navbar .navbar-header .navbar-btn-close {
  background: none;
  border: none;
}
header .navbar .navbar-header .navbar-btn-close:active {
  color: hsl(0, 94%, 66%);
}
header .navbar .navbar-header .navbar-btn-close .navbar-btn__icon {
  fill: black;
}
header .navbar .navbar-header .bookmark-logo g path {
  fill: hsl(0, 0%, 100%);
}
header .navbar .navbar-header .bookmark-logo g circle {
  fill: white;
}
header .navbar .navbar-header .bookmark-logo g path[fill="#FFF"] {
  fill: hsla(228, 29%, 21%, 0.961);
}
header .navbar .navbar-elements {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  padding: 0px;
  margin-inline: 30px;
  margin-top: 0px;
}
header .navbar .navbar-elements__item {
  padding: 20px;
  border-top: 0.5px solid hsla(0, 0%, 100%, 0.659);
}
header .navbar .navbar-elements__item:last-child {
  border-bottom: 0.5px solid hsla(0, 0%, 100%, 0.659);
}
header .navbar .navbar-elements__item:active {
  color: hsl(0, 94%, 66%);
}
header .navbar .navbar-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-top: auto;
}
header .navbar .navbar-sm__fb {
  padding-inline: 20px;
}
header .navbar .navbar-sm__tw {
  padding-inline: 20px;
}
header .header-btn {
  background: none;
  border: none;
}
header .responsive_nav {
  transform: none;
}

@media screen and (min-width: 800px) {
  header {
    padding-inline: 150px;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 1440px;
  }
  header .navbar {
    font-size: 0.8rem;
    transform: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 110px;
    background: none;
    color: hsl(229, 31%, 21%);
    z-index: 0;
  }
  header .navbar .navbar-header {
    display: none;
  }
  header .navbar .navbar-elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
  }
  header .navbar .navbar-elements__item {
    cursor: pointer;
  }
  header .navbar .navbar-elements__item:hover {
    color: hsl(0, 94%, 66%);
  }
  header .navbar-btn {
    font-size: 0.8rem;
    padding: 15px 30px;
    border: 1px solid hsl(0, 94%, 66%);
    background-color: hsl(0, 94%, 66%);
    color: hsla(0, 0%, 100%, 0.659);
  }
  header .navbar .nav-btn__close {
    display: none;
  }
  header .navbar .navbar-sm {
    display: none;
  }
  header .navbar .navbar-sm svg {
    display: none;
  }
  header .header-btn {
    display: none;
  }
}/*# sourceMappingURL=Navbar.css.map */