@import '../styles/Fonts.scss';
@import '../styles/Utilities.scss';
@import '../styles/Colors.scss';

/*
    MOBILE
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    margin-inline: map-get($margin, margin-inline-mobile );
    font-family: map-get($fonts, basic );
    font-weight: map-get($fonts-weight, regular );
    font-weight: 400;
    letter-spacing: 3px;

    .navbar {
        z-index: 5;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content:flex-start;
        // justify-content: space-around;
        position: fixed;
        margin: auto;
        padding: 0px;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        transition: 1.5s;
        transform: translateY(-100vh);
        background-color: map-get($colors, blue-transparent);
        color: map-get($colors, white-col );

        .navbar-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 110px;
            margin-inline: map-get($margin, margin-inline-mobile );

            .navbar-btn-close{
                background: none;
                border: none;

                .navbar-btn__icon{
                    fill: black
                }
            }
        }

        .navbar-elements {
            display: flex;
            flex-direction: column;
            text-align: center;
            list-style: none;
            padding: 0px;
            margin-inline: map-get($margin, margin-inline-mobile );
            margin-top: 0px;

            .navbar-elements__item {
                padding: 20px;
                border-top: 0.5px solid map-get($colors, white-col);
                &:last-child{
                    border-bottom: 0.5px solid map-get($colors, white-col);
                }
            }
        }

        .navbar-btn{
            margin-inline: map-get($margin, margin-inline-mobile );
            padding-block: 8px;
            background: none;
            color: map-get($colors, white-col );
            font-family: map-get($fonts, basic );
            font-size: 1rem;
            letter-spacing: 3px;
            border: 2.5px solid map-get($colors, white-col);
            border-radius: 5px;
        }

        .navbar-sm {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
            margin-top: auto;

            svg {
                padding-inline: 20px;
            }

        }
    }

    .header-btn {
        background: none;
        border: none;
    }

    .responsive_nav {
        transform: none;
    }
}